{% extends "en/public/Base.HTML" %} {% block contents %}
<meta charset="utf-8">
<div id="containerAmigos" style="margin-top: 30px;">
	<div id="containerSolicitacao">
		<ul class="ul-pendentes">
			<legend>Desafios Ativos:</legend>
			<hr class="form-hr">
			{% if qtd_d_ativos_desafiados > 0 %}
			{% for a in d_ativos_desafiado %}
			<li id="li-cumprir">
				<div class="wrap-btn-pendentes wrap-btn-cumprir">
					<form action="cumprir_desafio" method="post">
						<input type="hidden" id="hide-desafio-cumprir" name="id_desafio_ativo" value="{{a.id}}"/>					
						<button type="submit" id="btn-cumprir-desafio" value="aceitar"
							class="btn btn-success" title="Aceitar solicitação">
							<span class="glyphicon glyphicon-ok"></span> Cumprir
						</button>
					</form>	
				</div>
				
				<div class="wrap-desafio-pontos">
					<div class="form-ano">
						{{a.desafio.nome}}: {{a.desafio.pontuacao}} pontos					
					</div>
				</div>
				
				<div id="wrap-buscado-cumprir">
					<div id="buscado-pendentes">
						<form name="form" action="buscaPerfilUsuario{{a.usuario_desafiante.id}}" id="form-busca-usuario-ativos" method="post">
							{% csrf_token %} 
							<input type="submit" value="{{a.usuario_desafiante.nome}}"
									class="meulink"> 
							<input type="hidden" name="cUsuario"
								value="{{a.usuario_desafiante.id}}">
						</form>
					</div>
					
					<div class="form-ano ano-pendentes">
						{{a.usuario_desafiante.turma}}
					</div>
				</div>
				
				<div id="img-desafio-pendentes">
					<img src="{{a.usuario_desafiante.foto.url}}">
				</div>
			</li>
			{% endfor %}
		{% endif %}
		</ul>
	</div>
</div>
{% endblock contents %}
