{% extends "en/public/Base.HTML" %} {% block contents %}
<div id="cumprir-desafio">
	<div id="containerFeed1">
		<div id="containerPost">
			<form method="post" action="postar_desafio" id="form-postar-desafio" enctype="multipart/form-data">
			{% csrf_token %}
				<center>
					<textarea id="text-post" name="mensagem" placeholder=" Digite sua mensagem."></textarea>
				</center>
				
				<hr style="margin: -2px 15px; border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3);">
				
				<div id="ferramentaFeed">
					<table>
						<tr>
							<td width="499">
								<div class="inputFile btn btn-primary">
									<span><img src="../static/imagens/iconCamera.png" width="28" /></span> <input type="file" name="arquivo" id="arquivo" onchange="PreviewImage();"/>
								</div>
							</td>
	
							<td>
								<button id="btn-publicar" type="submit" name="Enviar" value="Publicar"
								class="btn btn-primary disabled" disabled="disabled"><span class="glyphicon glyphicon-pencil"></span> Publicar
								</button>
								
								<input type="hidden" name="cDesafio_Ativo" value="{{desafio_atual.id}}"/>
						        <input type="hidden" name="enviar" value="send"/>
							</td>
						</tr>	
					</table>
				</div>
			</form>
		</div>
	</div>
	
	<div id="containerFeed2"></div>
	
</div>

{% endblock contents %}
