{% extends "en/public/Base.HTML" %} {% block contents %}
<div id="cumprir-desafio">
	<div id="containerFeed1">
		<div id="containerPost">
			<form method="post" action="postar_desafio" id="form-postar-desafio" enctype="multipart/form-data">
			{% csrf_token %}
				<center>
					<textarea id="text-post" name="mensagem" placeholder=" Digite sua mensagem."></textarea>
				</center>
				
				<div id="preview">
					<span title="Remover" class="btn-preview">
						<span class="glyphicon glyphicon-remove remove-preview"></span>
					</span> 
					<img class="img-preview" style="width: 100px; height: 100px;" />
				</div>
				
				<div class="footer-postagem footer-postar">
					<div id="ferramentaFeed">
						<table>
							<tr>
								<td width="499">
									<div class="fileUpload btn btn-primary">
										<span><img src="../static/imagens/iconCamera.png" width="25" /></span> 
										<input type="file" name="arquivo" class="upload" id="arquivo"/>
									</div>
								</td>
			
								<td>
									<input type="hidden" name="cDesafio_Ativo" value="{{desafio_atual.id}}"/>
						        	<input type="hidden" name="enviar" value="send"/>
									
									<button id="btn-publicar" type="submit" name="Enviar" value="Publicar"
									class="btn btn-primary disabled" disabled="disabled"><span class="glyphicon glyphicon-pencil"></span> Publicar
									</button>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<div id="containerFeed2"></div>
	
</div>

{% endblock contents %}
