<meta charset="utf-8">
<div id="containerAmigos" style="margin-top: 30px;">
	<div id="containerSolicitacao">
		<fieldset>
			<legend>Desafiar</legend>

			<form action="lancar_desafios" method="post">
				{% csrf_token %}
				<table>
					<tr>
						<td width="70">
							<div>
								<label for="cTurma">Desafios:</label>
							</div>
						</td>

						<td>
							<select class="form-control-cadastro" name="cDesafios">
								<optgroup label="Desafios">

									{% for a in desafios %}
										<option id="hide-desafio" value="{{a.id}}">{{a.nome}}</option>
									{% endfor %}
									
								</optgroup>
							</select>
						</td>
					</tr>
				</table>

				<table>
					<tr>
						<td width="70">
							<div>
								<label for="cTurma">Amigos:</label>
							</div>
						</td>

						<td>
							<select class="form-control-cadastro" name="cAmigos">
								<optgroup label="Amigos">
									
									<option id="hide-amigo" value="{{amigo.id}}">{{amigo.nome}}</option>

								</optgroup>
							</select>
						</td>
					</tr>
				</table>

				<center>
					<input type="submit" id="btn-lancar" value="Lançar Desafio"
						class="btn btn-primary btn-second">
				</center>
			</form>
		</fieldset>
	
	</div>
</div>

