{% extends "en/public/Base.HTML" %} {% block contents %}
<meta charset="utf-8">
<div id="containerAmigos" style="margin-top: 30px;">
	<div id="containerSolicitacao">
		<p>{{msg_erro}}</p>		
			
			<legend>Desafiar</legend>
			<hr class="form-hr">

			<form action="lancar_desafios" method="post">
				{% csrf_token %}
				<table style="margin-left: 23%;">
					<tr>
						<td width="70">
							<div>
								<label for="cTurma"><font id="formatacaoForm">Desafios:</font></label>
							</div>
						</td>

						<td>
							<select class="form-control-cadastro" name="cDesafios">
								<optgroup label="Desafios">

									{% for a in desafios %}
										<option value="{{a.id}}">{{a.nome}}:  		{{a.pontuacao}} pontos</option>
									{% endfor %}
									
								</optgroup>
							</select>
						</td>
					</tr>
				</table>

				<table style="margin-left: 23%;">
					<tr>
						<td width="70">
							<div>
								<label for="cTurma"><font id="formatacaoForm">Amigos:</font></label>
							</div>
						</td>

						<td>
							<select class="form-control-cadastro" name="cAmigos">
								<optgroup label="Amigos">
									{% for a in meus_amigos %}
									
									<option value="{{a.amigo.id}}">{{a.amigo.nome}}</option>

									{% endfor %}

								</optgroup>
							</select>
						</td>
					</tr>
				</table>

				<center>
					<input type="submit" value="Lançar Desafio"
						class="btn btn-primary btn-second">
				</center>
				
			</form>
			
		</div>
</div>

<div id="containerAmigos" style="margin-top: 10px;">
		
	<div id="containerSolicitacao">
{% if Usuario.professor == True %}
		
			<legend>Desafios por Turma </legend>
			<hr class="form-hr">

			<form action="lancar_desafios_turma" method="post">
				{% csrf_token %}
				<table style="margin-left: 23%;">
					<tr>
						<td width="70">
							<div>
								<label for="cDesafio"><font id="formatacaoForm">Desafios:</font></label>
							</div>
						</td>

						<td>
							<select class="form-control-cadastro" name="cDesafios">
								<optgroup label="Desafios">

									{% for a in desafios %}
										<option value="{{a.id}}">{{a.nome}}</option>
									{% endfor %}
									
								</optgroup>
							</select>
						</td>
					</tr>
				</table>

				<table style="margin-left: 23%;">
					<tr>
						<td width="70">
							<div>
								<label for="cTurma"><font id="formatacaoForm">Turmas:</font></label>
							</div>
						</td>

						<td>
							<select class="form-control-cadastro" name="cTurma">
										
										<optgroup label="Ens. Médio">
											<option selected>1º Ano</option>
											<option>2º Ano</option>
											<option>3º Ano</option>
										</optgroup>

										<optgroup label="Ens. Fundamental">
											<option>5º Ano</option>
											<option>6º Ano</option>
											<option>7º Ano</option>
											<option>8º Ano</option>
											<option>9º Ano</option>
										</optgroup>
							</select>
						</td>
					</tr>
				</table>

				<center>
					<input type="submit" value="Lançar Desafio"
						class="btn btn-primary btn-second">
				</center>
			</form>
		
		{% endif %}	
	</div>	
</div>		
		<div id="containerAmigos" style="margin-top: 10px;">
		
		<div id="containerSolicitacao">
		
		<div id="containerDescGeral">
			<div id="tituloDesafio">
				<img alt="" src="../static/imagens/legal.png"> 
				<font style="margin-bottom: 10px;">Desafios</font> 
				<img alt="" src="../static/imagens/desafio.png">
			</div>
			<hr class="form-hr">
			
			{% for a in desafios %}
				<div id="containerDescDesafios">
					<ul>
						<li>
							<div id="nomeDesafio">
								{{a.nome}} <font id="formPontos">{{a.pontuacao}}</font><font id="formNomePontos"> Pontos</font>
							</div>
							
							<div id="descricaoDesafio">
								{{a.descricao}} 
							</div>	
						</li>
					</ul>
				</div>
			{% endfor %}					
		</div>
		
	</div>
</div>
{% endblock contents %}
