<meta charset="utf-8">
{% block content %} {% for e in entries %} {% if e.desafio == False %}
	
<!-- ############################ Postagem normal #################################### -->
	
	<div class="containerPostagem" id="{{e.id}}">
	{% if e.usuario == Usuario %}
	
	<form id="id-apagar" action="apagar_postagem" method="post"> {% csrf_token %}
		<input type="hidden" name = "id" id="id-apagar" value={{e.id}}>
		<button type="submit" value="excluir" class="remover" title="Remover" 
		style="background: transparent; border: none; float: right;">
			<span class="glyphicon glyphicon-remove remove-feed" style="top: 4px;"></span>
		</button>
	</form>	
	
	{% endif %}
		
		<form name="form" action="buscaPerfilUsuario{{e.usuario.id}}" id="form-busca-usuario" method="post" style="margin-top: 2px;">
			{% csrf_token %} <input type="submit" value="{{e.usuario.nome}}"
				class="meulink"> <input type="hidden" name="cUsuario"
				value="{{e.usuario.id}}"> <font id="containerData">{{e.date|date:"D d M Y"}}</font> 
		</form>

		<div id="containerTextoPostagem">
			{{e.text}} {% if e.foto.url != '/media/False' %}
			<center>
				<img src="{{e.foto.url}}" width="500" height="390" style="margin-top: 15px;" />
			</center>
			{% endif %}
		</div>
		
		<table cellpadding="0" cellspacing="0">
				<tr>
					<td style="background:  ; padding-left: 42px;">	
					  {% if e.curtiu == True %}		
					  			   		
				    	<a href="#" class="deslike">
					       <button type="submit" value="excluir" class="curtir" title="Curtir" 
							style="background: transparent; border: none; float: right;">
								<img alt="curtir" src="../static/imagens/pingo.png" width="10" height="13" style="margin-top: 3px;">
							</button>
							<input type="hidden" id="hide" name="cID_post" value="{{e.id}}">   
						</a>	
					   
				      {% elif e.curtiu == False %}
					
					  	<a href="#" class="like">
					       <button type="submit" value="excluir" class="curtir" title="Curtir" 
							style="background: transparent; border: none; float: right;">
								<img alt="curtir" src="../static/imagens/despingo.png" width="10" height="13" style="margin-top: 3px;">
							</button>
							<input type="hidden" id="hide" name="cID_post" value="{{e.id}}">   
						</a>	
						
				   	</td>
				   	
		 			{% endif %}
		 			
					<td style="background:  ;">
						<form action="usuarios_curtiram" id="form-u-curtiu" method="post"> {% csrf_token %} 
							<input type="submit" id="id{{e.id}}" value="({{e.qtd_pingo}})" class="u-curtidas">
							<input type="hidden" id="hide-u-curtiu" name="cID_post" value="{{e.id}}">
						</form>
					</td>
	
					<td style="background: ;">
						<form action="visualizarComentarios" id="form-comentarios" method="post">
						{% csrf_token %} 
							<input type="hidden" id="hide-comentarios" name="cPost" value="{{e.id}}">
							<input type="submit" name="comentarios" value="Comentários ({{e.qtd_coments}})" class="linkPostagem">
						</form>
					</td>
				</tr>
			</table>

		<hr
				style="margin: 5px 15px 0px 15px; border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3);">

			<div class="comentario-postagem">
				<form action="postarComentarios" id="postar-comentario" method="post">
				{% csrf_token %}
					<input type="text" class="input-comentario" placeholder="Deixe seu comentário" required/><button class="button-comentario"><span class="glyphicon glyphicon-send"></span></button>
					<input type="hidden" id="comentario-id" name="cId" value="{{e.id}}" /> 
				</form>				
			</div>
		
	</div>

<!-- ############################ Fim - Postagem normal ############################### -->

	{% elif e.desafio == True %}
	
<!-- ############################ Postagem desafio #################################### -->
	
  <div class="containerPostagemDesafio" id="{{e.id}}">
    {% if e.usuario == Usuario %}

     <form id="id-apagar-desafio" action="apagar_postagem" method="post"> {% csrf_token %}
        <input type="hidden" name = "id" id="id-apagar" value={{e.id}}>
        <button type="submit" value="excluir" class="remover" title="Remover" 
          style="background: transparent; border: none; float: right;">
            <span class="glyphicon glyphicon-remove remove-feed" style="top: 4px;"></span>
        </button>
    </form> 

    {% endif %}
		<div id="top-postagem-desafio" style="margin-top: 2px;">
	       	<form name="form" action="buscaPerfilUsuario{{e.usuario.id}}"  id="form-busca-usuario-desafio" method="post" >
	            {% csrf_token %} <input type="submit" value="{{e.usuario.nome}}"
	                class="meulink"> <input type="hidden" name="cUsuario"
	                value="{{e.usuario.id}}"> 
	
	                <font id="containerData">
	                    {{e.date|date:"D d M Y"}}
	                    
	                    {% if e.nome_desafio != None %}
	                        <font style="float: right; margin-right: 35px; margin-top: 6px;">{{e.nome_desafio}}</font>
	                    {% endif %}
	                </font>
	        </form>
		</div>
        <div id="containerTextoPostagem">
          {{e.text}} {% if e.foto.url != '/media/False' %}
            <center>
              <img src="{{e.foto.url}}" width="500" height="390" style="margin-top: 15px;" />
            </center>
          {% endif %}
        </div>

        <table cellpadding="0" cellspacing="0">
          <tr>
            <td style="background:  ; padding-left: 42px;"> 
              {% if e.curtiu == True %}   
                          
                <a href="#" class="deslike-desafio">
                    <button type="submit" value="excluir" class="curtir" title="Curtir" 
                      style="background: transparent; border: none; float: right;">
                      <img alt="curtir" src="../static/imagens/pingo.png" width="10" height="13" style="margin-top: 3px;">
                    </button>
                    <input type="hidden" id="hide" name="cID_post" value="{{e.id}}">   
                </a>  
               
                {% elif e.curtiu == False %}
            
                <a href="#" class="like-desafio">
                   <button type="submit" value="excluir" class="curtir" title="Curtir" 
                      style="background: transparent; border: none; float: right;">
                      <img alt="curtir" src="../static/imagens/despingo.png" width="10" height="13" style="margin-top: 3px;">
                    </button>
                    <input type="hidden" id="hide" name="cID_post" value="{{e.id}}">   
                </a>  
            </td>
              
            {% endif %}
            
            <td style="background:  ;">
				<form action="usuarios_curtiram" id="form-u-curtiu-desafio" method="post"> {% csrf_token %} 
					<input type="submit" id="id{{e.id}}" value="({{e.qtd_pingo}})" class="u-curtidas">
					<input type="hidden" id="hide-u-curtiu" name="cID_post" value="{{e.id}}">
				</form>
			</td>

			<td style="background: ;">
				<form action="visualizarComentarios" id="form-comentarios-desafio" method="post">
					{% csrf_token %} 
					<input type="hidden" id="hide-comentarios" name="cPost" value="{{e.id}}">
					<input type="submit" name="comentarios" value="Comentários ({{e.qtd_coments}})" class="linkPostagem">
				</form>
			</td>
          </tr>
      </table>

       <hr
				style="margin: 5px 15px 0px 15px; border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3);">

			<div class="comentario-postagem">
				<form action="postarComentarios" id="postar-comentario-desafio" method="post">
				{% csrf_token %}
					<input type="text" class="input-comentario" placeholder="Deixe seu comentário" required/><button class="button-comentario"><span class="glyphicon glyphicon-send"></span></button>
					<input type="hidden" id="comentario-id" name="cId" value="{{e.id}}" /> 
				</form>				
			</div>
    </div>
    
<!-- ############################ Fim - Postagem desafio #################################### -->

    {% endif %} 
    
		    {% if forloop.last %}
		    
			     <form action="mais_posts" method ="post" id="verMais"> {% csrf_token %}
			    
			    	<input type ="hidden" name = "id_ultimo" value = {{e.id}}>
			    	<button type="submit" id="btnVerMais" class="btn-primary">Ver mais</button>
				
				</form>
				
		{% endif %}
			    
    
    {% endfor %}

{% endblock %}