{% extends "en/public/Base.HTML" %}
{% block contents %}
<meta charset="utf-8">
<div id="containerAmigos" style="margin-top: 30px;">
		<legend>Dados pessoais:</legend>
			<hr class="form-hr">
			<form method="post" id="editar-perfil">
				{% csrf_token %}	
				<div id="btn-editar-perfil">	
					<input type="submit" id="btnEditarPerfil" value="Editar"
					class="btn btn-primary btn-second">
				</div>
			</form>
			
			<div id="imgMeuPerfil">
				{% if e.foto.url != '/media/False' %} 
					<img	src="{{Usuario.foto.url}}"/> 
				{% endif %}
			</div>
			
			<div id="informacoesPerfil">
				<table>
					<tr>
						<td width="50">
							<div id="formatacaoForm">Nome:</div>
						</td>
	
						<td><div id="formInformacoes">{{Usuario.nome}}</div></td>
					</tr>
				</table>
	
				<table>
					<tr>
						<td width="50">
							<div id="formatacaoForm">Idade:</div>
						</td>
	
						<td><div id="formInformacoes">{{Usuario.idade}}</div></td>
					</tr>
				</table>
	
				<table>
					<tr>
						<td width="50">
							<div id="formatacaoForm">Série:</div>
						</td>
	
						<td><div id="formInformacoes">{{Usuario.turma}}</div></td>
					</tr>
				</table>
	
				<table>
					<tr>
						<td width="50">
							<div id="formatacaoForm">Sexo:</div>
						</td>
	
						<td><div id="formInformacoes">{{Usuario.sexo}}</div></td>
					</tr>
				</table>
	
				<table>
					<tr>
						<td width="50">
							<div id="formatacaoForm">Descrição:</div>
						</td>
					</tr>
				</table>
	
				<table>
					<tr>
						<td>
							<div id="containerTexto">{{Usuario.descricao}}</div>
						</td>
					</tr>
				</table>
			</div>
			
</div>

<div id="linha-do-tempo">Linha do Tempo</div>

<div id="wrap-postagens-perfil">
	
	{% for e in minhas_postagens %} 
	
	{% if e.desafio == False %}
	
<!-- ############################ Postagem normal #################################### -->
	
	<div class="containerPostagem" id="{{e.id}}">
	{% if e.usuario == Usuario %}
	
	<form id="id-apagar" action="apagar_postagem" method="post"> {% csrf_token %}
		<input type="hidden" name = "id" id="id-apagar" value={{e.id}}>
		<button type="submit" value="excluir" class="remover" title="Remover" 
		style="background: transparent; border: none; float: right;">
			<span class="glyphicon glyphicon-remove remove-feed" style="top: 4px;"></span>
		</button>
	</form>	
	
	{% endif %}
		
		<form name="form" action="buscaPerfilUsuario{{e.usuario.id}}" id="form-busca-usuario" method="post" style="margin-top: 2px;">
			{% csrf_token %} <input type="submit" value="{{e.usuario.nome}}"
				class="meulink"> <input type="hidden" name="cUsuario"
				value="{{e.usuario.id}}"> <font id="containerData">{{e.date|date:"D d M Y"}}</font> 
		</form>

		<div id="containerTextoPostagem">
			{{e.text}} {% if e.foto.url != '/media/False' %}
			<center>
				<img src="{{e.foto.url}}" width="500" height="390" style="margin-top: 15px;" />
			</center>
			{% endif %}
		</div>
		
		<table cellpadding="0" cellspacing="0">
			<tr>
				<td style="background:  ; padding-left: 42px;">	
					{% if e.curtiu == True %}		
					  			   		
				    <a href="#" class="deslike">
						<button type="submit" value="excluir" class="curtir" title="Curtir" 
							style="background: transparent; border: none; float: right;">
							<img alt="curtir" src="../static/imagens/pingo.png" width="10" height="13" style="margin-top: 3px;">
						</button>
						<input type="hidden" id="hide" name="cID_post" value="{{e.id}}">   
					</a>	
					   
				    {% elif e.curtiu == False %}
					
					<a href="#" class="like">
						<button type="submit" value="excluir" class="curtir" title="Curtir" 
							style="background: transparent; border: none; float: right;">
							<img alt="curtir" src="../static/imagens/despingo.png" width="10" height="13" style="margin-top: 3px;">
						</button>
						<input type="hidden" id="hide" name="cID_post" value="{{e.id}}">   
					</a>	
				</td>

				{% endif %}
				
				<td style="background:  ;">
					<!-- código modal -->
					<form action="usuarios_curtiram" id="abrir-modal" method="post"> {% csrf_token %} 
						<input type="submit" id="id{{e.id}}" value="({{e.qtd_pingo}})" class="u-curtidas">
						<input type="hidden" id="hide-u-curtiu" name="cID_post" value="{{e.id}}">
					</form><!-- FIM código modal -->
				</td>

				<td style="background: ;">
					<form action="visualizarComentarios" id="form-comentarios" method="post">
					{% csrf_token %} 
						<input type="hidden" id="hide-comentarios" name="cPost" value="{{e.id}}">
						<input type="submit" name="comentarios" value="Comentários ({{e.qtd_coments}})" class="linkPostagem">
					</form>
				</td>
			</tr>
		</table>
			<div class="footer-postagem">
				<div class="comentario-postagem">
					<form action="postarComentarios" id="postar-comentario" method="post">
					{% csrf_token %}
						<input type="text" class="input-comentario" placeholder="Deixe seu comentário.." required/><button class="button-comentario"><span class="glyphicon glyphicon-send"></span></button>
						<input type="hidden" id="comentario-id" name="cId" value="{{e.id}}"/> 
					</form>				
				</div>
			</div>
	</div>

<!-- ############################ Fim - Postagem normal #################################### -->
	{% elif e.desafio == True %}
	
<!-- ############################ Postagem desafio #################################### -->
	
  <div class="containerPostagemDesafio" id="{{e.id}}">
    {% if e.usuario == Usuario %}

     <form id="id-apagar-desafio" action="apagar_postagem" method="post"> {% csrf_token %}
        <input type="hidden" name = "id" id="id-apagar" value={{e.id}}>
        <button type="submit" value="excluir" class="remover" title="Remover" 
          style="background: transparent; border: none; float: right;">
            <span class="glyphicon glyphicon-remove remove-feed" style="top: 4px;"></span>
        </button>
    </form> 

    {% endif %}

       <form name="form" action="buscaPerfilUsuario{{e.usuario.id}}"  id="form-busca-usuario-desafio" method="post" style="margin-top: 2px;">
            {% csrf_token %} <input type="submit" value="{{e.usuario.nome}}"
                class="meulink"> <input type="hidden" name="cUsuario"
                value="{{e.usuario.id}}"> 

                <font id="containerData">
                    {{e.date|date:"D d M Y"}}
                    
                    {% if e.nome_desafio != None %}
                        <font style="float: right; margin-right: 35px; margin-top: 6px;">{{e.nome_desafio}}</font>
                    {% endif %}
                </font>
        </form>

        <div id="containerTextoPostagem">
          {{e.text}} {% if e.foto.url != '/media/False' %}
            <center>
              <img src="{{e.foto.url}}" width="500" height="390" style="margin-top: 15px;" />
            </center>
          {% endif %}
        </div>

        <table cellpadding="0" cellspacing="0">
          <tr>
            <td style="background:  ; padding-left: 42px;"> 
              {% if e.curtiu == True %}   
                          
                <a href="#" class="deslike-desafio">
                    <button type="submit" value="excluir" class="curtir" title="Curtir" 
                      style="background: transparent; border: none; float: right;">
                      <img alt="curtir" src="../static/imagens/pingo.png" width="10" height="13" style="margin-top: 3px;">
                    </button>
                    <input type="hidden" id="hide" name="cID_post" value="{{e.id}}">   
                </a>  
               
                {% elif e.curtiu == False %}
            
                <a href="#" class="like-desafio">
                   <button type="submit" value="excluir" class="curtir" title="Curtir" 
                      style="background: transparent; border: none; float: right;">
                      <img alt="curtir" src="../static/imagens/despingo.png" width="10" height="13" style="margin-top: 3px;">
                    </button>
                    <input type="hidden" id="hide" name="cID_post" value="{{e.id}}">   
                </a>  
            </td>
              
            {% endif %}
            
            <td style="background:  ;">
				<!-- código modal -->
				<form action="usuarios_curtiram" id="abrir-modal-desafio" method="post"> {% csrf_token %} 
					<input type="submit" id="id{{e.id}}" value="({{e.qtd_pingo}})" class="u-curtidas">
					<input type="hidden" id="hide-u-curtiu" name="cID_post" value="{{e.id}}">
				</form><!-- FIM código modal -->
			</td>

			<td style="background: ;">
				<form action="visualizarComentarios" id="form-comentarios-desafio" method="post">
					{% csrf_token %} 
					<input type="hidden" id="hide-comentarios" name="cPost" value="{{e.id}}">
					<input type="submit" name="comentarios" value="Comentários ({{e.qtd_coments}})" class="linkPostagem">
				</form>
			</td>
          </tr>
      </table>			
			<div class="footer-postagem">
				<div class="comentario-postagem">
					<form action="postarComentarios" id="postar-comentario-desafio" method="post">
					{% csrf_token %}
						<input type="text" class="input-comentario" placeholder="Deixe seu comentário.." required/><button class="button-comentario"><span class="glyphicon glyphicon-send"></span></button>
						<input type="hidden" id="comentario-id" name="cId" value="{{e.id}}"/> 
					</form>				
				</div>
			</div>
    </div>
<!-- ############################ Fim - Postagem desafio #################################### -->

    {% endif %} 
    
		{% if forloop.last %}
		    
			<form action="mais_posts_perfil" method ="post" id="ver-mais-perfil"> {% csrf_token %}
				<input type ="hidden" name = "id_ultimo" value = {{e.id}}>
			   	<button type="submit" id="btnVerMais" class="btn-primary">Ver mais</button>
			</form>
				
		{% endif %}
		
    {% endfor %}
    
</div><!-- fim wrap-postagens-perfil -->

	<div class="sk-circle" style="display: none;">
	  <div class="sk-circle1 sk-child"></div>
	  <div class="sk-circle2 sk-child"></div>
	  <div class="sk-circle3 sk-child"></div>
	  <div class="sk-circle4 sk-child"></div>
	  <div class="sk-circle5 sk-child"></div>
	  <div class="sk-circle6 sk-child"></div>
	  <div class="sk-circle7 sk-child"></div>
	  <div class="sk-circle8 sk-child"></div>
	  <div class="sk-circle9 sk-child"></div>
	  <div class="sk-circle10 sk-child"></div>
	  <div class="sk-circle11 sk-child"></div>
	  <div class="sk-circle12 sk-child"></div>
	</div>
{% endblock contents %}
