{% extends "en/public/Base.html" %} {% block contents %}
<meta charset="utf-8">
<div id="containerPesquisa">
	<form action="pesquisa" method="post">
		{% csrf_token %}
		<div id="containerCheckbox">
			<ul>
				<li class="checkboxPesquisa"><label> <input
						type="checkbox" name="checkbox_Todos" value="True"> Todos
				</label></li>

				<li class="checkboxPesquisa"><label> <input
						type="checkbox" name="checkbox_Amigos" value="True" checked>
						Amigos
				</label></li>
			</ul>
		</div>
		<div class="col-xs-6">
			<div class="input-group">
				<input type="text" class="form-control" size="69%" name="cPesquisar"
					placeholder="Procure seus amigos.."> <span
					class="input-group-addon">
					<button type="submit"
						style="background: transparent; border: none; cursor: pointer; outline: none;">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div>
	</form>
</div>

<div id="containerAmigos">
	<div id="containerSolicitacao">
		{% if msg_erro != " "%} {{msg_erro}} {% endif %}

		<fieldset>

			<legend>Resultado pesquisa "amigos":</legend>
			{% block content %} {% for a in Pesquisa_Concluida %} {% csrf_token %}
			<ul>
				<div style="background:; width: 79%; float: left;">
					<li><img src="{{a.amigo.foto.url}}" id="imgAmigos" /></li>

					<li style="margin: 7px 15px 15px 15px;">
						<form name="form" action="buscaPerfilUsuario{{a.amigo.id}}" method="post">
							{% csrf_token %} <input type="submit" value="{{a.amigo.nome}} "
								class="meulink"> <input type="hidden" name="cUsuario"
							value="{{a.amigo.id}}">
						</form>
						<div class="form-ano">{{a.amigo.turma}}</div>
					</li>

					<li style="margin: 19px 35px 0px 0px; float: right;"
						class="form-ano">{{a.amigo.pontos}} pontos</li>
				</div>

				<form action="desafiar_amigo" method="post">
					{% csrf_token %} <input type="hidden" name="id_usuario"
						value={{a.amigo.id}}>
					<button type="submit" value="desafiar"
						class="btn btn-primary btn-lg" title="Desafia um amigo">
						<span class="glyphicon glyphicon-tint"></span> Desafiar
					</button>
				</form>

			</ul>
			
			{% endfor %} {% endblock %}
		</fieldset>
	</div>
</div>

{% endblock contents %}
