{% extends "en/public/Base.html" %} {% block contents %}
<meta charset="utf-8">
<div id="container-pesquisa">
	<div id="containerCheckbox">
	<form action="pesquisa" id="form-pesquisa" method="post">
		{% csrf_token %}
		<ul>
			<li class="checkboxPesquisa">
				<label><input type="checkbox" name="checkbox_Todos" value="True" checked="checked"> Todos</label>
			</li>
	
			<li class="checkboxPesquisa">
				<label><input type="checkbox" name="checkbox_Amigos" value="True"> Amigos</label>
			</li>
		</ul>
	</div>
			
	<div class="wrap-pesquisa">
		<input type="text" class="input-pesquisa" name="cPesquisar" placeholder="Procure seus amigos.." /><button class="button-pesquisa"><span class="glyphicon glyphicon-search"></span></button>
	</div>
	</form>
</div>

<div id="wrap-resultado-pesquisa">
	<div id="containerAmigos">
		<div id="containerSolicitacao">	
			{% if msg_erro != " "%} {{msg_erro}} {% endif %}
	
			<legend>Resultado pesquisa "amigos":</legend>
			<hr class="form-hr">
			{% block content %} 
			
			<ul class="ul-pendentes">
			{% for a in Pesquisa_Concluida %}
				<li id="li-pesquisa-amigos">
					<div style="margin-right: 5px;">
						<div class="wrap-btn-pendentes wrap-btn-cumprir" >
							<form action="desafiar_amigo" method="post">
								{% csrf_token %} 
								<input type="hidden" id="hide-desafio-pesquisa" name="id_usuario"
									value="{{a.amigo.id}}">
								<button type="submit" value="desafiar"
									class="btn btn-primary btn-lg btn-desafiar-amigo" title="Desafia um amigo">
									<span class="glyphicon glyphicon-tint"></span> Desafiar
								</button>
							</form>
						</div>
					
						<div class="wrap-desafio-pontos">
							<div class="form-ano">
								{{a.amigo.pontos}} pontos
							</div>
						</div>
						
						<div id="wrap-buscado-cumprir">
							<div id="buscado-pendentes">
								<form name="form" action="buscaPerfilUsuario{{a.amigo.id}}" id="form-busca-usuario-pesquisa-amigos" method="post">
									{% csrf_token %} <input type="submit" value="{{a.amigo.nome}} "
									class="meulink"> <input type="hidden" name="cUsuario"
									value="{{a.amigo.id}}">
								</form>
							</div>
							
							<div class="form-ano ano-pendentes">
								{{a.amigo.turma}}
							</div>
						</div>
						
						<div id="img-desafio-pendentes">
							<img src="{{a.amigo.foto.url}}"/>
						</div>	
					</div>	
				</li>
				{% endfor %} 
			</ul>
			{% endblock %}
		</div>
	</div>
</div>

{% endblock contents %}
