{% extends "en/public/Base.HTML" %} {% block contents %}

<meta charset="utf-8">

<div id="containerAmigos" style="margin-top: 30px">
<!-- <script type="text/javascript" src="../static/js/menuNavRanks.js"></script> -->
	<div id="containerSolicitacao">
		<legend>Ranking:</legend>
		<hr class="form-hr">
	</div>
</div>
	
<nav class="nav-ranks">
	<ul>
		<li class="li-geral" id="li-geral"><a href="rankings" id="geral">Geral</a></li>
			
		<li class="li-amigos"><a href="rankings_amigos"id="amigos">Amigos</a></li>
						
		<li class="li-turma"><a href="rankings_turma" id="turma">Turma</a></li>
	</ul>
</nav>	
		
<div id="containerAmigos">	
	<div id="containerSolicitacao">	
		<div id="wrap-ranking">
			<table width="100%" border="0" cellpadding="4" cellspacing="1">
				<tbody>
					<tr bgcolor="#004080" class="form-ranking">
						<td width="10%" align="center">Rank</td>
						<td width="55%" align="center">Aluno</td>
						<td width="15%" align="center">Turma</td>
						<td width="15%" align="center">Pontos</td>
					</tr>
					{% for e in ranking %}


					<tr bgcolor="" id="ranking">
						<td align="center" class="form-ranking-td">
							{{ forloop.counter }}
						</td>

						<td style="font-size: 10pt;">
							<form name="form" action="buscaPerfilUsuario{{e.id}}" id="form-busca-usuario-rank" method="post">
								{% csrf_token %} <input type="submit" value="{{e.nome}}"
									class="meulink"> <input type="hidden" name="cUsuario"
									value="{{e.id}}">
							</form>
						</td>

						<td align="center" class="form-ranking-td">{{e.turma}}</td>

						<td align="center" class="form-ranking-td">{{e.pontos}}</td>
						
						{% endfor %}
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock contents %}

