
<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static "css/estilo.css" %}">
<title>Bem-vindo ao Trilha da Água</title>
<meta charset="utf-8">
</head>
<body>
	<header>
		<nav class="menuHeader menuHeader-fixo">
			<div id="formNav">
				<ul>
					<li class="nomeTrilha"><a href="login">Trilha da Água</a></li>
					
					<li class="nomesNav"><a href="sobre">Sobre</a></li>

					<li class="nomesNav"><a href="login">Contato</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<section>
		<div id="imagemSobre">
			<img src="{% static "imagens/Agente.png" %}" title="Colégio XV" width="800px" height="490px" style="margin-top: 150px;"/>
			<div class="textoSobre">
				<p> A rede social Trilha da Água foi criada por alunos do curso de Licenciatura em Computação da Universidade de Pernambuco, e tem como público os alunos do Ensino Fundamental II e Ensino Médio do colégio XV de Novembro, com a finalidade de conscientizar e apoiar a economia de água, tanto em casa, quanto dentro da escola. É uma ferramenta de fácil uso e seus recursos permitem desafios, mostrar os resultados esperados através de fotos, ranking de melhor pontuação, interação, entre outras funcionalidades de forma lúdica e dinâmica.</p>
				<p>Mais informações sobre o colégio XV de novembro, acesse:  <a href="http://www.colegio15.com.br">Colégio XV</a>.</p> 
			</div>
		</div>
	</section>
</body>
</html>