{% extends "en/public/Base.HTML" %}
<meta charset="utf-8">
{% block contents %}

<div id="containerAmigos" style="margin-top: 30px;">
	<div id="containerConquistas">
		<fieldset>
			<legend>Curtiram</legend>
				<ul>
					{% for e in pingo %}
					
					<li>
						<div id="imgConquistas">
							<img src="{{e.usuario.foto.url}}" width="100" height="100"/>
						</div>
						
						<div id="nomeConquistas">
							{{e.usuario.nome}}
						</div>
						
						<div id="descricaoConquistas">
							{{e.usuario.turma}}
						</div>
					</li>
					<hr>	
					{% endfor %}					
				</ul>
		
<!-- <button type="button" id="button1">Hello Server!</button> -->
<!-- <button type="button" id="button2">div!</button> -->


<!-- <script type="text/javascript" src="../static/js/testeHello.js"></script> -->
<!-- <script type="text/javascript" src="../static/js/teste.js"></script> -->


		</fieldset>
	</div>
</div>
{% endblock contents %}