{% extends "en/public/Base.HTML" %} {% block contents %}
<meta charset="utf-8">
	<div id="containerFeed2">

		{% block content %}
		
		<div class="containerPostagem">
		
			<div id="cabecalho-lancar">	
				<form name="form" action="buscaPerfilUsuario{{entries.usuario.id}}" method="post" style="margin-top: 2px;">
					{% csrf_token %} 
					<input type="submit" value="{{entries.usuario.nome}}" class="meulink"> 
					<input type="hidden" name="cUsuario" value="{{entries.usuario.id}}"> 
					<font id="containerData">{{entries.date|date:"D d M Y"}}</font> 
				</form>
			</div>

			<div id="containerTextoPostagem">
				{{entries.text}} {% if entries.foto != False %}
					<center>
						<img src="{{entries.foto.url}}" width="500" height="390" style="margin-top: 15px;" />
					</center>
				{% endif %}
			</div>
			
			<div class="footer-lancar">
				<div class="wrap-btn-lancar">
					<form action="lancar_desafio" id="form-lancar-desafio" method="post">
							{% csrf_token %} 
						<input type="hidden" name="cId" value={{entries.id}} /> 
						<input type="hidden" name="cId_desafio"	value={{id_desafio}} /> 
						<input type="submit" name="Enviar" value="Lançar" 
							id="btn-lancar-desafio" class="btn btn-primary"/>
					</form>
				</div>
			</div>
		</div>
	</div>
		{% endblock %}
{% endblock contents %}
