{% extends "en/public/Base.HTML" %}
<meta charset="utf-8">
{% block contents %}
<div id="containerFeed1">
  <div class="containerPostagem">
      	{% if Postagem.usuario == Usuario %}
        <form id="id-apagar" action="apagar_postagem" method="post"> {% csrf_token %}
          <input type="hidden" name = "id" id="id-apagar" value="{{Postagem.id}}">
          <button type="submit" value="excluir" class="remover" title="Remover" 
            style="background: transparent; border: none; float: right;">
            <span class="glyphicon glyphicon-remove remove-feed" style="top: 4px;"></span>
          </button>
        </form> 
        {% endif %}
        
        <form name="form" action="buscaPerfilUsuario{{Postagem.usuario.id}}" method="post" style="margin-top: 2px;">
          {% csrf_token %} 
          <input type="submit" value="{{Postagem.usuario.nome}}" class="meulink"> 
          <input type="hidden" name="cUsuario" value="{{Postagem.usuario.id}}"> 
          <font id="containerData">{{Postagem.date|date:"D d M Y"}}</font> 
        </form>
    
        <div id="containerTextoPostagem">
          {{Postagem.text}} {% if Postagem.foto.url != '/media/False' %}
          <center>
            <img src="{{Postagem.foto.url}}" width="500" height="390" style="margin-top: 15px;" />
          </center>
          {% endif %}
        </div>
		
		<div class="footer-postagem">
				<div class="comentario-postagem">
					<form action="postarComentarios2" id="postar-comentario-2"  method="post">
					{% csrf_token %}
						<input type="text" name="cComentario" class="input-comentario" placeholder="Deixe seu comentário.." required/><button class="button-comentario"><span class="glyphicon glyphicon-send"></span></button>
						<input type="hidden" id="comentario-id" name="cId" value="{{Postagem.id}}" /> 
					</form>				
				</div>
			</div>
	</div>
</div>

<div id="containerFeed2">
	<ul id="ul-comentarios">
		{% block content %} {% for e in Coment %}
			<li id="li-comentarios">
				{% if e.usuario == Usuario %}
				<form action="apagar_comentario" id="id-apagar-comentario" method="post"> {% csrf_token %}
					<input type="hidden" id="hide-comentario-id" name="id" value="{{e.pk}}">
					<input type="hidden" id="hide-comentario-postagem" name="id_postagem" value="{{Postagem.id}}">
					<button type="submit" value="excluir" class="remover" title="Remover" 
		            	style="background: transparent; border: none; float: right;">
		            	<span class="glyphicon glyphicon-remove remove-feed" style="top: 4px;"></span>
		          	</button>
				</form>
				{% endif %}	
				
				<form name="form" action="buscaPerfilUsuario{{e.usuario.id}}" method="post" style="margin-top: 2px;">
		      		{% csrf_token %} 
			     	<input type="submit" value="{{e.usuario.nome}}" class="meulink"> 
			      	<input type="hidden" name="cUsuario" value="{{e.usuario.id}}"> 
			      	<font id="containerData">{{e.date|date:"D d M Y"}}</font> 
			    </form>
		
				<div id="containerTextoPostagem" style="margin-bottom: 3px;">{{e.text}}</div>
			</li>
			
			{% if forloop.last %}
				    
				<form action="mais_comentarios" method ="post" id="ver-mais-comentario"> {% csrf_token %}
					<input type ="hidden" name = "id_ultimo" value = "{{e.pk}}">
					<input type ="hidden" name = "id_postagem" value = "{{Postagem.id}}">
					<button type="submit" id="btn-ver-mais-comentario" class="btn-primary">Ver mais</button>
				</form>
						
			{% endif %}
		{% endfor %} {% endblock %}
	</ul>
	<div class="sk-circle" style="display: none;">
		<div class="sk-circle1 sk-child"></div>
		<div class="sk-circle2 sk-child"></div>
		<div class="sk-circle3 sk-child"></div>
		<div class="sk-circle4 sk-child"></div>
		<div class="sk-circle5 sk-child"></div>
		<div class="sk-circle6 sk-child"></div>
		<div class="sk-circle7 sk-child"></div>
		<div class="sk-circle8 sk-child"></div>
		<div class="sk-circle9 sk-child"></div>
		<div class="sk-circle10 sk-child"></div>
		<div class="sk-circle11 sk-child"></div>
		<div class="sk-circle12 sk-child"></div>
	</div>
</div>
{% endblock contents %}

