.nav-times{
	width: 91.5%;
	height: 20px;
	margin: 10px 27px;
	text-align: center;
	word-wrap: break-word;
	line-height: 1.6;
	clear: both;
}

.nav-times ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-times ul li{
	float: left;
	background: #fff;
	width: 33.221%;
}

.li-geral a{
	border-bottom: 3px solid #ff8901 !important;
}

.li-amigos{
	border-left: 1px solid #DCDCDC;
	border-right: 1px solid #DCDCDC;
}

.nav-times ul li a:hover{
	border-bottom: 3px solid #ff8901;
}

.nav-times ul li a{
	color: gray;
  	font-size: 13px;
  	text-decoration: none;
  	display: block;
  	border-bottom: 3px solid #337ab7;
}